body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

header {
  background: #0e56f2;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #152b54;
  padding: 10px;
}

nav div {
  color: white;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

nav div:hover {
  transform: scale(1.1) rotate(2deg);
  background-color: #0e5af2;
  cursor: pointer;
}

nav img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
  border-radius: 18px;
  transition: transform 0.3s ease;
}

nav img:hover {
  transform: scale(1.2);
}

nav video {
  width: 250px;
  border-radius: 150px;
  transition: transform 0.3s ease;
}

nav video:hover {
  transform: scale(1.1) skew(2deg, 2deg);
}

main {
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}
